# Turn on URL rewriting
RewriteEngine On

SetEnv KOHANA_ENV production
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "PUT,POST,GET,OPTIONS, DELETE"
Header always set Access-Control-Allow-Headers "Origin,X-Requested-With,Content-Type,Accept"
Header always set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header always set Pragma "no-cache"
#Header always set Content-Type "application/json;charset=utf-8"

AddDefaultCharset UTF-8
AddCharset UTF-8 .php
AddCharset UTF-8 .css
AddCharset UTF-8 .html

php_value session.use_cookies 1

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]
